/* Tablet e celular */

@media (max-width: 768px) {
  .app-container.expanded .fast-link {
    display: none;
  }
}

.search-form-clientes .form-search {
  float: none;
  width: 100%;
}

.search-form-menu .form-search {
  margin: 10px;
  width: 817px;
}

.msg-validation-exists {
  color: white;
  background-color: red;
  padding: 10px;
  position: absolute;
  top: 12px;
  right: 16px;
  font-weight: bold;
  width: 220px;
}

.msg-validation-exists a {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
}

.customer-events #search-input {
  background-color: transparent;
  border: none;
}

.customer-events #search-input .input-group {
  margin: 0 20px;
}

.customer-events #search-input .input-group label {
  padding-top: 10px;
  margin-right: 9px;
}

.customer-events #search-input .input-group #from,
.customer-events #search-input .input-group #to {
  padding: 6px;
}

.checkbox-export {
  margin: 15px 0 0 !important;
  width: auto !important;
}

.customer-events .customer-events-form #search-input .input-group {
  display: block;
  float: left;
}

.customer-events .customer-events-form {
  float: left;
  margin-bottom: 40px;
}

.customer-events .customer-events-form #search-input button.search-btn {
  padding: 15px;
  display: block;
  background: #22A7F0;
  color: white;
  clear: both;
  float: left;
  margin: 18px;
}

.customer-events .customer-events-form .input-group label {
  padding-left: 0;
}

.customer-events .customer-events-form .input-group select {
  height: 35px;
}

.customer-events .customer-events-form .input-group input {
  border: 1px solid #a7a7a7 !important;
}

