/* Tablet e celular */
@media (max-width: 768px) {
    .app-container.expanded .fast-link {
        display: none;
    }
}

.search-form-clientes{
    .form-search{
        float: none;
        width: 100%;
    }
}

.search-form-menu{
    .form-search{            
        margin: 10px;
        width: 817px;
    }
}

.msg-validation-exists{
    color: white;
    background-color: red;
    padding: 10px;
    position: absolute;
    top: 12px;
    right: 16px;
    font-weight: bold;
    width: 220px;

    a{
        color: white;
        text-decoration: underline;
        text-transform: uppercase;
    }
}

.customer-events {
    .customer-events-form{    
        margin-bottom: 40px;
        background-color: white;
        

        #search-input{
            background-color: transparent;
            border: none;
            display: block;

            .form-group{            
                label{
                    padding-top: 10px;
                    margin-right: 9px;
                }

                #from, #to{
                    padding: 6px 10px;
                }

                .checkbox-export{
                    margin: 15px 0 0 !important;
                    width: auto !important;
                }
            }

            button.search-btn{
                padding: 15px;
                display: block;
                background: #22A7F0;
                color: white; 
                clear: both;
                float:left;
                margin: 18px;
            }

            input{
                border: 1px solid #e4eaec !important;
            }
        }
    }
}